@charset "UTF-8";
/* ↓PC版ここから */

/* ↑PC版ここまで */

/* ↓モバイル版ここから */

@media only screen and (max-width:768px) {

  /* ↓FV */
  .nav {
    position: relative;
  }
  .nav p {
    position: absolute;
    color: #fff;
    padding-left: 10px;
    font-weight: 500;
    font-size: 6vw;
    text-shadow: 0 3px 6px #333333;
    top: 160px;
    left: 0;
  }
  .nav img {
    width: 100%;
  }
  /* ↑FV */
  
  /* ↓form */
  .form{
    padding-left: 100 px;
  }
  .form p{
    padding-right: 30px;
  }
  /* ↑form */
}

/* ↑モバイル版ここまで */