@charset "UTF-8";

/* 

-- 共通とpc版の記述ここから --

*/

body {
  font-family: "Helvetica Neue", "Segoe UI","Yu Mincho", sans-serif,  "Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
  margin: 0px;
  padding: 0px;
}




#nav-toggle {
  display: none; /* ハンバーガーメニューをpcでは非表示*/
}

/* メニュー */

.global-nav ul{
  display: table-cell;
    vertical-align: middle;
    text-align: center;
    list-style-type: none;
}

.global-nav ul li {
  margin: 20px 0;
}

.global-nav ul a{
  /* display: block; */
  margin: 20px 0;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* ヘッダー全体 */

header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 200px;
    font-weight: 600;
    background-color: #fff;
    background-image: url(../img/p0074_m.png);
}

header h1 a{
  display: block;
  height: 200px;
  background: url(../img/logoPC.png) no-repeat;
  margin: 35px 70px;
}

header .leaf {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 50%;
}

.tel-box {
  text-align: center;
}
.tel {
  font-size: 20px;
}

.teltext {
  color: grey;
}

.active {
  border-bottom: 3px solid #006A46;
}

footer {
  height: 50px;
  background: #006A46;
  text-align: center;
  margin-left: 200px;
}

footer small {
  line-height: 42px;
  font-size: 16px;
  color: #fff;
}

/* 

-- 共通とpc版の記述ここまで --

*/



/* 

モバイル（768px）の記述 

*/

@media only screen and (max-width: 768px){

  header {
  width: 100%;
  height: 100px;
  background-image: url(../img/MvheaderBg.png);
  background-size: cover;
}

header .leaf {
  right: 20px;
  bottom: 120px;
}

header h1 a{
  margin: 30px 10px;
  width: 240px;
  height: 41px;
  background: url(../img/LOGO.png) no-repeat;
  background-size: 100%;

}

main {
  margin-left: 0;
}

/* ハンバーガーメニュー */
#nav-toggle {
  display: block;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 9999;
}

#nav-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #006A46;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(2) {
  top: 13px;
}

#nav-toggle span:nth-child(3) {
  top: 26px;
}

#nav-toggle span:nth-child(3)::before {
  content: "メニュー";
  font-size: 10px;
  font-weight: bold;
  color: #006A46;
  
}

/* ハンバーガーメニュー　開いたときの記述  */

#nav-toggle.open span:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg);
}
#nav-toggle.open span:nth-of-type(2) {
  opacity: 0;
}

#nav-toggle.open span:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-13px) rotate(45deg);
}

#nav-toggle.open span:nth-child(3)::before {
  content: ""
}

/* モバイル版メニュー */

.nav-inner {
  position:fixed;
  top:0px;
  right:0;
  width: 230px;
  height: 100%;
  background: #fff;
  background-image: url(../img/p0074_m.png);
  padding: 100px 10px 0 10px;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition:ease .5s;
  transition:ease .5s;
  z-index:1;
}

div.open {
  -webkit-transform:translateX(0);
  transform:translateX(0);
}

.global-nav ul{
  display: inline;
    vertical-align: auto;
    text-align: left;
}

.global-nav ul a {
  /* height: 5vh; */
  font-size: 18px;
  margin-left: 30px;
}

footer {
  margin-left: 0;
}
}

@media only screen and (min-width: 769px){
main {
  margin-left: 200px;
}
}