@charset "UTF-8";
/*

--PC版ここから--

*/

/* ↓お品書きnav */

/* 見出しの画像切り替え */
@media only screen and (min-width:769px) {
#pcTop {
  display: block;
}

#mobTop {
  display: none;
}

/* 見出しの画像切り替え */

/* ↓FV img */

#pcTop {
  width: 100%;
  height: 100vh;
}

/* ↑FV img */

/* ↓FV p */

.pnav {
  position: absolute;
  padding-left: 80px;
  color: #fff;
  font-size: 5vw;
  top: 300px;
}

/* ↑FV p */

/* ↓toti */
.toti{
  padding-top: 100px;
}
/* ↑toti */

/* ↓toti p */

.toti p {
  padding-left: 25vw;
  font-size: 20px;
}

/* ↑toti p */

/* ↓toti h2 */

.toti h2 {
  padding-left: 24vw;
}

/* ↑toti h2 */

/* ↓toti img */

.toti img {
  padding-left: 24vw;
}

/* ↑toti img */

/* ↓toti h3 */

.toti h3 {
  padding-left: 33vw;
  display: inline-block;
  font-size: 23px;
  padding-top: 10px;
  color: #006A46;
}
.totih3 br{
  display: none;
}

/* ↑toti h3 */

/* ↓totip */

#totip {
  padding-left: 12vw;
  padding-top: 40px;
}

/* ↑totip */

/* ↓mizu p*/
.mizu{
  padding-top: 100px;
}
/* ↑mizu p */

/* ↓mizu p */

.mizu p {
  padding-left: 25vw;
  font-size: 20px;
}

/* ↑mizu p */

/* ↓mizu h2 */

.mizu h2 {
  padding-left: 24vw;
}

/* ↑mizu h2 */

/* ↓mizu img */

.mizu img {
  padding-left: 24vw;
}

/* ↑mizu img */

/* ↓mizu h3 */

.mizu h3 {
  padding-left: 35vw;
  font-size: 23px;
  padding-top: 10px;
  color: #006A46;
}
.mizuh3 br{
  display: none;
}
/* ↑mizu h3 */

/* ↓mizup */

#mizup {
  padding-left: 5vw;
  padding-top: 40px;
}

/* ↑mizup */

/* ↓sobako */
.sobako{
  padding-top: 100px;
}
/* ↑sobako */

/* ↓sobako p */

.sobako p {
  padding-left: 25vw;
  font-size: 20px;
}

/* ↑sobako p */

/* ↓sobako h2 */

.sobako h2 {
  padding-left: 24vw;
}

/* ↑sobako h2 */

/* ↓sobako img */

.sobako img {
  padding-left: 24vw;
}

/* ↑sobako img */

/* ↓sobako h3 */

.sobako h3 {
  padding-left: 34vw;
  font-size: 23px;
  padding-top: 10px;
  color: #006A46;
}
.sobakoh3 br{
  display: none;
}
/* ↑sobako h3 */

/* ↓sobakop */

#sobakop {
  padding-left: 5vw;
  padding-top: 40px;
}

/* ↑sobakop */

/* ↓explanatorytext */
.explanatorytext{
  padding-top: 80px;
}
.explanatorytext p{
  padding-left: 35vw;
  font-size: 24px;
  line-height: 70px;
}
/* ↑explanatorytext */
}
/* 

--PC版ここまで--


--モバイル版ここから--

 */

@media only screen and (max-width:768px) {
  /* ↓お品書きnav */
  body {
    background-image: url(../img/background1.jpg);
  }
  /* お品書きタイトル */
  .nav {
    position: relative;
  }
  .nav p {
    position: absolute;
    color: #fff;
    padding-left: 10px;
    font-weight: 500;
    font-size: 7vw;
    text-shadow: 0 3px 6px #333333;
    top: 100px;
    left: 0;
  }
  .nav img {
    width: 100%;
    padding-left: 0px;
  }
  /* お品書きタイトルend */
  /* 見出しの画像切り替え */
  #pcTop {
    display: none;
  }
  #mobTop {
    display: flex;
    margin-top: 100px;
  }
  .menuNav {
    display: flex;
    margin-left: 40%;
  }
  .name {
    color: #fff;
  }
  .menuNav th {
    text-decoration: underline #006A46;
  }
  body {
    background-image: url(../img/background1.png);
  }
  /* 見出しの画像切り替え*/
  /* ↑お品書きnav */
  /* ↓地元釜石の土地 */
  .toti p {
    text-align: center;
    padding-right: 120px;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 4vw;
    padding-left: 0px;
  }
  .toti h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: 500;
    margin-top: 0;
    padding-left: 0px;
  }
  .toti img {
    width: 100%;
    padding-left: 0px;
  }
  .toti h3 {
    padding-left: 40px;
    font-size: 5vw;
    color: #006A46;
    font-weight: 500;
  }
  #totip {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 4vw;
    line-height: 6vw;
  }
  /* ↑地元釜石の土地 */
  /* ↓地元釜石の水 */
  .mizu p {
    text-align: center;
    padding-right: 100px;
    margin-top: 40px;
    font-size: 4vw;
    margin-bottom: 0;
    padding-left: 0px;
  }
  .mizu h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: 500;
    margin-top: 0;
    padding-left: 0px;
  }
  .mizu img {
    width: 100%;
    padding-left: 0px;
  }
  .mizu h3 {
    padding-left: 40px;
    font-size: 5vw;
    color: #006A46;
    font-weight: 500;
  }
  #mizup {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 4vw;
    line-height: 6vw;
  }
  /* ↑地元釜石の水 */
  /* ↓岩手県産の蕎麦粉 */
  .sobako p {
    text-align: center;
    padding-right: 140px;
    margin-top: 40px;
    font-size: 4vw;
    margin-bottom: 0;
    padding-left: 0px;
  }
  .sobako h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: 500;
    margin-top: 0;
    padding-left: 0px;
  }
  .sobako img {
    width: 100%;
    padding-left: 0px;
  }
  .sobako h3 {
    padding-left: 40px;
    font-size: 5vw;
    color: #006A46;
    font-weight: 500;
  }
  #sobakop {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 4vw;
    line-height: 6vw;
  }
  /* ↑岩手県産の蕎麦粉 */
  /* ↓最後の説明文 */
  .explanatorytext {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .explanatorytext p {
    font-size: 5vw;
    text-align: center;
    letter-spacing: 0.4vw;
    padding-left: 0px;  
  }
  /* ↑最後の説明文 */
}

/* 

 --モバイル版ここまで
 
  */