@charset "UTF-8";
/*

--PC版ここから--

*/

@media only screen and (min-width:769px) {
  #mobnav {
    display: none;
  }
  body {
    background-image: url(../img/menu/background/background1.jpg);
  }
  main {
    color: #fff;
    display:block; /* IE対策に追加 */
  }
  .menufv {
    position: relative;
  }
  .menufv img {
    width: 100%;
    height: 35vw;
    object-fit: cover;
    margin-bottom: 70px;
  }
  .menufv p {
    position: absolute;
    color: #fff;
    padding-left: 50px;
    font-weight: 500;
    font-size: 5vw;
    text-shadow: 0 3px 6px #333333;
    top: 10vw;
    left: 0;
  }
  .navinavi {
    position: relative;
  }
  .navinavi p {
    position: absolute;
    color: #fff;
    padding-left: 250px;
    font-weight: 500;
    font-size: 7vw;
    text-shadow: 0 3px 6px #333333;
    top: 150px;
    left: 0;
  }
  .navinavi img {
    width: 100%;
    object-fit: cover;
  }
  .title {
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
    color: #fff;
    padding-top: 10px;
  }
  .menu_facebook {
    text-align: center;
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 30px;
  }
  .MenuNavi {
    font-size: 1.1vw;
    text-align: center;
  }
  .inner::before {
    content: '>';
    color: #23D900;
    margin: 10px;
    font-weight: 900;
    font-size: 1.4vw;
  }
  .inner::after{
    content: '<';
    color: #23D900;
    margin: 10px;
    font-weight: 900;
    font-size: 1.4vw;
  }
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .nameNv {
    border-left: solid #fff;
    padding-right: 20px;
    padding-left: 20px;
  }
  .name {
    color: #fff;
    padding-left: 8px;
    text-decoration: none;
    /*white-space: nowrap;*/
  }
  .name:hover {
    border-bottom: solid #23D900;
    /*下線の指定　実線*/
    padding-bottom: 2px;
    /*下線の位置指定*/
  }
  .nameNv:first-child, .nameNv:last-child {
    border-left: none;
  }
  #nonePC, #nonePC2, #nonePC3, #nonePC4, #nonePC5 {
    display: none;
  }
  .Name_M {
    display: none;
  }
  #osoba, #udon, #ra-men, #gohanmono, #setmenu {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  #allmenu {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    white-space: nowrap;
    /*overflow:scroll;*/
    overflow: hidden;
    height: 300px;
    margin-top: 40px;
    padding-bottom: 30px;
    /*background-image: url(../img/menu/background/background1.jpg);*/
    padding-top: 20px;
  }
  #menu_all{
    background-color: rgba(149, 146, 204, 0.2);
    padding-top: 30px;
  }
  /*#hot_soba{
  margin-left: -180px;
  padding-left: 180px;
}
#cold_udon{
  margin-left: -180px;
  padding-left: 180px;
}
#hot_udon{
  margin-left: -180px;
  padding-left: 180px;
}*/
  #ra-men_menu {
    margin-left: -700px;
    padding-left: 700px;
  }
  #gohan_menu {
    margin-left: -730px;
    padding-left: 730px;
  }
  #setmenu_menu {
    margin-left: -750px;
    padding-left: 750px;
  }
  .Name_p {
    font-size: 30px;
    padding-right: 10px;
  }
  /* ↓お品書きnav */
  /* 見出しの画像切り替え */
  #pctop {
    display: block;
    height: 100vh;
  }
  #mobtop {
    display: none;
  }
  #mobTop {
    display: none;
  }
  /* 見出しの画像切り替え */
  /* ↓おすすめ */
  #text {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 500;
    color: #fff;
    padding-bottom: 20px;
  }
  main p {
    font-size: 1.3vw;
    letter-spacing: 3px;
    line-height: 2rem;
    font-weight: 500;
  }
  section#pcTop h1 {
    color: #fff;
    text-align: center;
    padding-bottom: 100px;
  }
  .rec {
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
  }
  .rec .com1 {
    padding-top: 50px;
    text-align: left;
  }
  .rec .com1 p {
    text-align: center;
  }
  .rec .com1 h2 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 2vw;
  }
  img.wayama {
    width: 50%;
    height: 100%;
    background-size: contain;
    text-align: right;
  }
  .reco {
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
  }
  .reco .com2 {
    padding-top: 50px;
    text-align: right;
  }
  .reco .com2 p {
    text-align: center;
  }
  .reco .com2 h2 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 2vw;
  }
  img.ten {
    width: 50%;
    height: 100%;
    background-size: contain;
    text-align: left;
  }
  /* ↑お品書きnav */
  /* ↓商品一覧 */
  /* ↑商品一覧 */
}

/* 

--PC版ここまで--

 */

/* 

--モバイル版ここから--

 */

@media only screen and (max-width:768px) {
  /* ↓お品書きnav */
  .nameNv:nth-child(2) {
    display: none;
  }
  .nameNv:nth-child(3) {
    display: none;
  }
  .nameNv:nth-child(5) {
    display: none;
  }
  .nameNv:nth-child(6) {
    display: none;
  }
  .nameNv:nth-child(8) {
    display: none;
  }
  .nameNv:nth-child(10) {
    display: none;
  }
  .nameNv:nth-child(12) {
    display: none;
  }
  #spacenone {
    display: none;
  }
  body {
    background-image: url(../img/menu/background/background1.jpg);
  }
  main {
    color: #fff;
  }
  .menufv {
    position: relative;
    margin-top: 100px;
  }
  .menufv img {
    width: 100%;
    height: 35vw;
    margin-bottom: 3vw;
  }
  .menufv p {
    position: absolute;
    color: #fff;
    padding-left: 10px;
    font-weight: 500;
    font-size: 7vw;
    text-shadow: 0 3px 6px #333333;
    left: 0;
    top: 12vw;
  }
  #text {
    padding-top: 30px;
    width: 90%;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.8rem;
    padding-bottom: 20px;
  }
  p {
    font-size: 4vw;
    line-height: 7vw;
  }
  /* お品書きタイトル */
  .navinavi {
    position: relative;
  }
  .navinavi p {
    position: absolute;
    color: #fff;
    padding-left: 10px;
    font-weight: 500;
    font-size: 7vw;
    text-shadow: 0 3px 6px #333333;
    top: 100px;
    left: 0;
  }
  .navinavi img {
    width: 100%;
  }
  /* お品書きタイトルend */
  /*おすすめ*/
  h1.menu {
    text-align: center;
  }
  .menu_facebook {
    text-align: center;
  }
  div.menu2 img {
    width: 100%;
  }
  div.menu2 p {
    text-align: center;
  }
  /* 見出しの画像切り替え */
  
  #pcTop {
    display: none;
  }
  #mobtop {
    display: flex;
    margin-top: 100px;
  }
  .menuNav {
    display: flex;
    margin-left: 40%;
  }
  .name {
    color: #fff;
  }
  .menuNav th {
    text-decoration: underline #006A46;
  }
  /* 見出しの画像切り替え*/
  /* ↓メニュー */
  .title {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .MenuNavi {
    width: 210px;
    /*横幅の指定*/
    margin: auto;
    /*中央に寄せる*/
  }
  .inner {
    height: 150px;
    /*高さの指定*/
    width: 210px;
    /*横幅の指定*/
    display: flex;
    /*子要素の横並び*/
    flex-wrap: wrap;
    /*子要素の折り返し　折り返しなし*/
    justify-content: space-around;
    /*水平方向の位置揃え　均等配置*/
    align-items: center;
    /*全体を中央揃え*/
    border-bottom: solid #fff;
    padding-bottom: 7px;
  }
  .nameNv {
    width: 100px;
    /*幅の指定*/
    text-align: center;
    /*中央寄せ*/
    border-top: solid #fff;
    /*上線の指定　実線*/
    padding-top: 12px;
    /*上パディングの指定*/
    border-right: solid #fff;
    /*右横線の指定　実線*/
    padding-right: 1px;
    /*右パディングの指定*/
    padding-bottom: 20px;
    /*下パディングの指定*/
  }
  .inner .nameNv:nth-child(2n) {
    /*インナーの.nameNvの偶数に適用されるcss*/
    overflow: hidden;
    /*はみ出し非表示*/
    border-right: none;
    /*右線の表示を消す*/
    padding-left: 5px;
    /*左パディングの指定*/
  }
  .inner .nameNv:nth-child(9) {
    /*インナーの.nameNvの偶数に適用されるcss*/
    overflow: hidden;
    /*はみ出し非表示*/
    border-right: none;
    /*右線の表示を消す*/
    padding-left: 5px;
    /*左パディングの指定*/
  }
  .nameNv:nth-child(11) {
    /*.nameNvの最後に適用されるcss*/
    padding-left: 55px;
    /*左パディングの指定*/
    padding-right: 55px;
    /*右パディングの指定*/
    border-right: none;
    /*右線の表示を消す*/
  }
  .name:hover {
    border-bottom: solid #23D900;
    /*下線の指定　実線*/
    padding-bottom: 2px;
    /*下線の位置指定*/
  }
  .name {
    text-decoration: none;
    /*a要素の初期の下線を表示しない*/
    font-weight: bold;
    /*フォントのサイズ指定*/
    color: #fff;
    /*フォントのカラー指定*/
    white-space: nowrap;
    /*文字の折り返し　折り返しなし*/
  }
  /*#nonemob, #nonemob2, #nonemob3, #nonemob4{
  display: none;          モバイル版は見えないように
}*/
  /* ナビゲーションの飛ぶ位置をヘッダーに被らないよう調整 */
  div#soba_menu {
    margin-top: -180px;
    padding-top: 180px;
  }
  div#udon_menu {
    margin-top: -180px;
    padding-top: 180px;
  }
  div#ra-men_menu {
    margin-top: -180px;
    padding-top: 180px;
  }
  div#gohan_menu {
    margin-top: -180px;
    padding-top: 180px;
  }
  div#setmenu_menu {
    margin-top: -180px;
    padding-top: 180px;
  }
  /* ナビゲーションの飛ぶ位置をヘッダーに被らないよう調整 */
  /* ↑お品書きnav */
  /* ↑メニュー */
  /* ↓商品一覧 */
  .Name_M {
    text-align: center;
    color: #fff;
    font-size: 6vw;
    font-weight: 500;
  }
  #osoba {
    padding-top: 4rem;
  }
  .Name_p::before {
    content: '■';
    color: #23D900;
    margin: 10px;
  }
  .Menulist p {
    padding-left: 50px;
    color: #fff;
    font-size: 5vw;
    font-weight: 300;
  }
  .Menulist ul {
    padding-left: 90px;
  }
  .Menulist li {
    color: #fff;
    font-size: 4vw;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 8vw;
  }
  .Menulist span {
    overflow: hidden;
    padding-left: 80px;
    color: #fff;
    font-size: 3.8vw;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 5.5vw;
  }
  #setmenu {
    padding-bottom: 3rem;
  }
  /* ↑商品一覧 */
}

/* 

 --モバイル版ここまで
 
  */