@charset "UTF-8";
/*

--共通部分ここから--

*/


  body {
    background-image: url(../img/tenpo/background/background1.jpg);
  }

    /* ↓店舗情報 */
    main {
      color: #fff;
      font-size: 20px;
    }

    .tenpoinfo {
      width: 90%;
      margin: auto;
    }

      /* FVテキスト*/
  .nav {
    position: relative;
  }
  .nav p {
    position: absolute;
    color: #fff;
    padding-left: 50px;
    font-weight: 500;
    font-size: 5vw;
    text-shadow: 0 3px 6px #333333;
    top: 10vw;
    left: 0;
  }
  .nav img {
    height: 100vh;
    margin-bottom: 70px;
  }
  /* ↑FV */




/*

--PC版ここから--

*/

.info{
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  }

/* ↓お品書きnav */

/* 見出しの画像切り替え */

#pcTop {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

#mobTop {
  display: none;
}

/* 見出しの画像切り替え */

/* ↑お品書きnav */

/* 店舗情報 */

#sertime ul, #day ul, #contact ul{
  list-style: none;
  width: 100%;
  margin-left: 25%;
}

#sertime p, #day p, #contact p{
  white-space: nowrap;
  /* font-size: 18px; */
  width: 50px;
}

#sertime, #day, #contact{
  display: flex;
  /* overflow: hidden; */
  margin: auto;
  padding-left: 13%;
}
#day ul, #contact ul{
  /* margin-left: 220px; */
  word-break: break-all;
}


#sertime::before{
  content: '■';
  color: #23D900;
  margin: 20px;
  margin-right: 10px;
}

#day::before{
  content: '■';
  color: #23D900;
  margin: 20px;
  margin-right: 10px;
}

#contact::before{
  content: '■';
  color: #23D900;
  margin: 19px;
  margin-right: 10px;
}
#contact{
  padding-bottom: 5%;
}

#contact img{
  width: 250px;
  height: 40px;
}

/* ↑商品一覧 */

  /* ↓Google Map */
  .map {
    position: relative;
    padding-bottom: 370px;
    padding-top: 30px;
    height: 0;
    /* overflow: hidden; */
    }
     
    .map iframe,
    .map object,
    .map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    .map iframe {
      pointer-events:none;
    }
  /* ↑Google Map */

    /* ↓アクセス方法 */

    #access{
      text-align: center;
      color: #fff;
      font-size: 1.7rem;
      font-weight: 500;
      margin-bottom: 1em;
    }
  
    
    .access {
      line-height: 1.5;
      width: 60%;
      margin: auto;
      margin-bottom: 25px;
    }
  
    .access .abox {
      position: relative;
      border-bottom: 1px solid #DBD5D5;
      padding: 20px 0;
      padding-left: 40%;
    }
  
    .access .car .cartitle {
      position: absolute;
      top: 425px;
      width: 30px;
      height: 60px;
      left: 23px;
      /* -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl; */
      text-align: center;
    }

    .access .car img {
      margin: 20px 0;
      margin-left: -250px;
    }
  
    .access .bus .busatitle {
      width: 30px;
      height: 60px;
      position: absolute;
      top: auto;
      bottom: auto;
      left: 23px;  
      /* -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl; */
      text-align: center;
    }
  
    .access .tetudo .trainatitle {
      width: 30px;
      height: 60px;
      position: absolute;
      top: 0px;
      left: 23px;
      /* -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl; */
      text-align: center;
    }
    /* ↑アクセス方法 */

/* 

--PC版ここまで--

 */

/* 

--モバイル版ここから--

 */

@media only screen and (max-width:768px) {
  
  /* FVテキスト*/

  main {
    font-size: 16px;
  }

  .nav {
    position: relative;
    margin-top: 100px;
  }
  .nav p {
    position: absolute;
    color: #fff;
    padding-left: 10px;
    font-weight: 500;
    font-size: 7vw;
    text-shadow: 0 3px 6px #333333;
    left: 0;
  }
  .nav img {
    width: 100%;
    height: auto;
    margin-bottom: 3vw;
  }
  /* ↑FV */
  /* ↓見出しの画像切り替え */
  #mobTop {
    display: block;
    width: 100vw;
  }
  .menuNav {
    display: flex;
    margin-left: 40%;
  }
  .name {
    color: #fff;
  }
  .menuNav th {
    text-decoration: underline #006A46;
  }
  /*body {
    background-image: url(../img/background1.jpg);
  }*/
  /* ↑見出しの画像切り替え*/
  /* ↓店舗情報 */
  main {
    color: #fff;
  }
  
  .info{
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  }
  
  #sertime ul, #day ul, #contact ul{
    list-style: none;
    width: 100%;
    margin-left: 0;
  }
  
  #sertime p, #day p, #contact p{
    white-space: nowrap;
    font-size: 18px;
    width: 50px;
  }
  
  #sertime, #day, #contact{
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding-left: 0;
  }
  #day ul, #contact ul{
    word-break: break-all;
  }
  

  #sertime::before{
    content: '■';
    color: #23D900;
    margin: 20px;
    margin-right: 10px;
  }
  
  #day::before{
    content: '■';
    color: #23D900;
    margin: 20px;
    margin-right: 10px;
  }
  
  #contact::before{
    content: '■';
    color: #23D900;
    margin: 19px;
    margin-right: 10px;
  }
  #contact{
    padding-bottom: 5%;
  }
  #contact img{
    width: 49vw;
    height: 6vw;
  }
  /* ↑店舗情報 */
  /* ↓Google Map */
  .map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }
     
    .map iframe,
    .map object,
    .map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
  /* ↑Google Map */


  /* ↓アクセス方法 */

  #access{
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  
  .access {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
  }

  .access .abox {
    position: relative;
    /* border-bottom: 1px solid #DBD5D5; */
    padding: 20px 0;
    padding-left: 18%;
  }

  .access .car .cartitle {
    position: absolute;
    top: 50vw;
    left: 0;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: center;
  }

  .access .car {
    margin-top: 0;
  }

  .access .car img {
    width: 90%;
    margin: 20px 0;
    margin-left: 0px;
  }

  .access .bus .atitle {
    position: absolute;
    top: 30px;
    left: 0;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: center;
  }

  .access .tetudo .atitle {
    position: absolute;
    top: 25px;
    left: 0;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: center;
  }

  /* ↑アクセス方法 */
}

/* 

 --モバイル版ここまで
 
  */


