@charset "UTF-8";

/*

--PC版ここから--

*/

/* ↓お品書きnav */

/* 見出しの画像切り替え */
#pcTop{
  display: block;
}
#mobTop{
  display: none;
}
/* 見出しの画像切り替え */

/* ↑お品書きnav */

/* ↓商品一覧 */

/* ↑商品一覧 */

/* 

--PC版ここまで--

 */

/* 

--モバイル版ここから--

 */
@media only screen and (max-width:768px){
/* ↓お品書きnav */
body{
  background-image: url(../img/background1.jpg);
}
/* お品書きタイトル */
.nav{
  position: relative;
}
.nav p{
  position: absolute;
  color: #fff;
  padding-left: 10px;
  font-weight: 500;
  font-size: 7vw;
  text-shadow: 0 3px 6px #333333;
  top: 100px;
  left: 0;
}
.nav img{
  width: 100%;
}
/* お品書きタイトルend */

/* 見出しの画像切り替え */
#pcTop{
  display: none;
}
#mobTop{
  display: flex;
  margin-top: 100px;
}
.menuNav{
  display: flex;
  margin-left: 40%;
}
.name{
  color: #fff;
}
.menuNav th{
  text-decoration: underline #006A46;
}

body{
  background-image: url(../img/background1.jpg);
}

/* 見出しの画像切り替え*/

/* ↓メニュー */
.title{
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  color: #fff;

}

.MenuNavi{
  width: 210px;         /*横幅の指定*/
  margin: auto;         /*中央に寄せる*/

}

.inner{
  height: 150px;          /*高さの指定*/
  width: 210px;         /*横幅の指定*/
  display: flex;          /*子要素の横並び*/
  flex-wrap: wrap;          /*子要素の折り返し　折り返しなし*/
  justify-content: space-around;          /*水平方向の位置揃え　均等配置*/
  align-items: center;          /*全体を中央揃え*/
  border-bottom: solid #fff;

}

.nameNv{
  width: 100px;         /*幅の指定*/
  text-align: center;         /*中央寄せ*/
  border-top: solid #fff;         /*上線の指定　実線*/
  padding-top: 12px;            /*上パディングの指定*/
  border-right: solid #fff;         /*右横線の指定　実線*/
  padding-right: 1px;         /*右パディングの指定*/
  padding-bottom: 20px;         /*下パディングの指定*/
}

.inner .nameNv:nth-child(2n){         /*インナーの.nameNvの偶数に適用されるcss*/
  overflow: hidden;         /*はみ出し非表示*/
  border-right: none;         /*右線の表示を消す*/
  padding-left: 5px;          /*左パディングの指定*/
}

.nameNv:last-child{         /*.nameNvの最後に適用されるcss*/
  padding-left: 55px;         /*左パディングの指定*/
  padding-right: 55px;          /*右パディングの指定*/
  border-right: none;         /*右線の表示を消す*/
}

.name{
  text-decoration: none;          /*a要素の初期の下線を表示しない*/
  font-weight: bold;          /*フォントのサイズ指定*/
  color: #fff;          /*フォントのカラー指定*/
  border-bottom: solid #006A46;         /*下線の指定　実線*/
  padding-bottom: 2px;          /*下線の位置指定*/
  white-space: nowrap;          /*文字の折り返し　折り返しなし*/
  /*background-color: black;*/
}

/* ↑お品書きnav */
/* ↑メニュー */

/* ↓商品一覧 */
#soba p{
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
}
.sobap::before{
  content: '■';
  color: #23D900;
  margin: 10px;
}
#cold p{
  padding-left: 50px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
}
#cold ul{
  padding-left: 103px;
}
#cold li{
  color: #fff;
  font-size:1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 28px;
}
#hot p{
  padding-left: 50px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
}
#hot ul{
  padding-left: 100px;
}
#hot li{
  color: #fff;
  font-size:1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 28px;
}
.Name_M{
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
}
.Name_p::before{
  content: '■';
  color: #23D900;
  margin: 10px;
}
.Menulist p{
  padding-left: 50px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
}
.Menulist ul{
  padding-left: 103px;
}
.Menulist li{
  color: #fff;
  font-size:1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 28px;
}
.Menulist span{
  overflow: hidden;
  padding-left: 80px;
  color: #fff;
  font-size:1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 28px;
}

#setmenu{
  padding-bottom: 3rem;
}
/* ↑商品一覧 */

}
 /* 

 --モバイル版ここまで
 
  */