@charset "UTF-8";
/*

--PC版ここから--

*/

/* ↓お品書きnav */

/* 見出しの画像切り替え */

#pcTop {
  display: block;
}

#mobTop {
  display: none;
}

/* 見出しの画像切り替え */

/* ↑お品書きnav */

/* ↓商品一覧 */

/* ↑商品一覧 */

/* 

--PC版ここまで--

 */

/* 

--モバイル版ここから--

 */

@media only screen and (max-width:768px) {
  /* ↓FV */
  body {
    background-image: url(../img/background1.jpg);
  }
  /* FVテキスト*/
  .nav {
    position: relative;
  }
  .nav p {
    position: absolute;
    color: #fff;
    padding-left: 10px;
    font-weight: 500;
    font-size: 7vw;
    text-shadow: 0 3px 6px #333333;
    top: 100px;
    left: 0;
  }
  .nav img {
    width: 100%;
  }
  /* ↑FV */
  /* ↓見出しの画像切り替え */
  #pcTop {
    display: none;
  }
  #mobTop {
    display: flex;
    margin-top: 100px;
  }
  .menuNav {
    display: flex;
    margin-left: 40%;
  }
  .name {
    color: #fff;
  }
  .menuNav th {
    text-decoration: underline #006A46;
  }
  body {
    background-image: url(../img/background1.jpg);
  }
  /* ↑見出しの画像切り替え*/
  /* ↓店舗情報 */
  body{
    color: #fff;
  }
  
  .info{
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  }
  
  #sertime ul, #day ul, #contact ul{
    list-style: none;
    width: 200px;
  }
  
  #sertime p, #day p, #contact p{
    white-space: nowrap;
    font-size: 18px;
  }
  
  #sertime, #day, #contact{
    display: flex;
    overflow: hidden;
    width: 400px;
    margin: auto;
  }
  #day ul, #contact ul{
    margin-left: 20px;
  }
  
  #sertime::before{
    content: '■';
    color: #23D900;
    margin: 20px;
    margin-right: 10px;
  }
  
  #day::before{
    content: '■';
    color: #23D900;
    margin: 20px;
    margin-right: 10px;
  }
  
  #contact::before{
    content: '■';
    color: #23D900;
    margin: 20px;
    margin-right: 10px;
  }
  #contact{
    padding-bottom: 5%;
  }
  /* ↑店舗情報 */
  /* ↓Google Map */
  .map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }
     
    .map iframe,
    .map object,
    .map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
  /* ↑Google Map */
  /* ↓アクセス方法 */
  #access{
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
  }
  /* ↑アクセス方法 */
}

/* 

 --モバイル版ここまで
 
  */