@charset "UTF-8";

/*

--PC版ここから--

*/

/* ↓お品書きnav */

/* 見出しの画像切り替え */
#pcTop{
  display: block;
}
#mobTop{
  display: none;
}
/* 見出しの画像切り替え */

/* ↑お品書きnav */

/* ↓商品一覧 */

/* ↑商品一覧 */

/* 

--PC版ここまで--

 */

/* 

--モバイル版ここから--

 */
@media only screen and (max-width:768px){
/* ↓お品書きnav */
body{
  background-image: url(../img/background1.jpg);
}
/* お品書きタイトル */
.nav{
  position: relative;
}
.nav p{
  position: absolute;
  color: #fff;
  padding-left: 10px;
  font-weight: 500;
  font-size: 7vw;
  text-shadow: 0 3px 6px #333333;
  top: 100px;
  left: 0;
}
.nav img{
  width: 100%;
}
/* お品書きタイトルend */

/* 見出しの画像切り替え */
#pcTop{
  display: none;
}
#mobTop{
  display: flex;
  margin-top: 100px;
}
.menuNav{
  display: flex;
  margin-left: 40%;
}
.name{
  color: #fff;
}
.menuNav th{
  text-decoration: underline #006A46;
}

body{
  background-image: url(../img/background1.jpg);
}

/* 見出しの画像切り替え*/

/* ↑お品書きnav */

/* ↓商品一覧 */
#soba p{
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
}
.sobap::before{
  content: '■';
  color: #23D900;
  margin: 10px;
}
#cold p{
  padding-left: 50px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
}
#cold ul{
  padding-left: 103px;
}
#cold li{
  color: #fff;
  font-size:1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 28px;
}
#hot p{
  padding-left: 50px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
}
#hot ul{
  padding-left: 100px;
}
#hot li{
  color: #fff;
  font-size:1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 28px;
}
/* ↑商品一覧 */

}
 /* 

 --モバイル版ここまで
 
  */