body{
  margin: 0;
  padding: 0;
}

/* headerここから ↓*/
 header {
	height: 75px;
	width: 100%;
	background-color: #ff0000;
  color: white;
  display: flex;          
    justify-content: center;
    align-items: center; 
}
 
header p {
	line-height: 100px;
	float: left;
	font-size: 35px;
	margin-left: 25px;
} 

.midashi-b {
  position:relative;
  padding:10px;
  border-bottom:solid 5px #ccc;
}

.midashi-b:before {
  content:"";
  position: absolute;
  bottom:-5px; 
  left:0;
  width:42%; 
  height:5px;
  background-color:  rgb(255, 0, 8);
}

h2 { 
  font-family: "Sawarabi Mincho"; 
}
#sentaku {
  font-family: "Sawarabi Mincho"; 
}
header {
  font-family: "Sawarabi Mincho"; 
}
footer {
  font-family: "Sawarabi Mincho";
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  text-align: center;
	background-color: rgb(255, 0, 8);
  color: white;

}
footer p{
  margin-bottom: 0;
}