body {
  margin: 0;
  padding: 0;
}

/* headerここから ↓*/

header {
  height: 80px;
  width: 100%;
  background-color: #1b0aaf;
  color: white;
  display: flex;
  /* 2 */
  justify-content: left;
  /* 3 */
  align-items: center;
  font-size: 40px;
}

/* 各種写真ここから↓ */

  #top img{
    width: 100%;
    height: 0;
    padding-top: calc(300 / 1000 * 100%);
    background: url(top.jpg) center center / cover no-repeat;
  }
  figure.gazo-box {
    float: left;
    padding-right: 20px;
    }
/* 各種写真ここまで↑ */

  footer {
    text-align: left;
	  height: 30px;
	  width: 100%;
	  background-color: #1b0aaf;
	  color: white;
}
  #bottom img{
    width: 100%;
    height: 0;
    padding-top: calc(300 / 1000 * 100%);
    background: url(code.jpg) center center / cover no-repeat;
}
/*headerここまで↑*/
